doctype html
html
	head
		
	body
		h1 Example creation usage:
		p http://urlshortenerfuzyon.herokuapp.com/new/https://www.google.com
		br
		h1 Output: 
		p { "original_url":"https://www.google.com", "short_url":"http://urlshortenerfuzyon.herokuapp.com/8170" }
		
		h1 Created by Doandes Razvan: https://www.freecodecamp.org/fuzyon
		